h1 {
    font-family: arial;
    text-align: center;
    border-bottom: 1px solid rgb(0, 124, 0);
}

ul {
    list-style: none;
    
}
#lstheader li {
    display: inline-block;
    font-weight: bold;
    font-family: arial;
    width: 19%;
    border-bottom: 1px solid silver;
}
#itempedido li {
    display: inline-block;
    font-weight: bold;
    font-family: arial;
    width: 19%;
}

#itempedido {
    padding: 10px;
    padding-left: 90px;
    transition: ease 1s;
}


#itempedido li:hover {
    cursor: pointer;
    background-color: silver;
}
